<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Dashboard</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="sidebar">
            <h1 class="sidebar-title">Dashboard</h1>
                <li class="sidebar-item">Home</li>
                <li class="sidebar-item">Settings</li>
                <li class="sidebar-item">Profile</li>
                <li class="sidebar-item">Logout</li>
                <li class="logged-as">Logged in as: <span class="username">John Doe</span></div>
    </div>
    <div class="box-title"><h1>Welcome to Your Dashboard</h1></div>
    <div class="box"><h1>Hello World</h1>
        <div class="stat-card">
            <h3 class="stat-card-title">CPU usage</h3>
            <p>{{ data.cpu }}% </p>
        </div>
            <div class="stat-card">
            <h3 class="stat-card-title">Memory usage</h3>
            <p>{{ data.ram }}% </p>
        </div>
            <div class="stat-card">
            <h3 class="stat-card-title">Disk usage 1</h3>
            <p>Celkem : {{ "%.2f"% (data.disk1.total / (1024**3)) }} GB</p>
            <p>Použito: {{ "%.2f"% (data.disk1.used / (1024**3)) }} GB</p>
            <p>Volné: {{ "%.2f"% (data.disk1.free / (1024**3)) }} GB</p>
            <p>Procento: {{ "%.1f"% (data.disk1.percent) }}%</p>
        </div>
        
        {% if data.disk2 != "nic" %}
            <div class="stat-card">
            <h3 class="stat-card-title">Disk usage 2</h3>
            <p>Celkem : {{ "%.2f"% (data.disk2.total / (1024**3)) }} GB</p>
            <p>Použito: {{ "%.2f"% (data.disk2.used / (1024**3)) }} GB</p>
            <p>Volné: {{ "%.2f"% (data.disk2.free / (1024**3)) }} GB</p>
            <p>Procento: {{ "%.1f"% (data.disk2.percent) }}%</p>
        </div>
        {% endif %}

        </div>
            <div class="stat-card">
            <h3 class="stat-card-title">Temperature</h3>
            <p>Teplota: {{data.temp}} °C</p>
        </div>

        <div class ="action-card">
            <h3 class="stat-card-title">To-Do List</h3>
            <input type="checkbox"> <span>Visitors: 1234</span> <br>
            <input type="checkbox"> <span>Sales: 5678</span>
        </div>
    </div> 

</body>
</html>
